@CHARSET "ISO-8859-1";



#creaPartie{
	margin:10px;
}

.contentDiv {
	width:40%;
	border: 1px solid black;
	display: inline-block;
	padding:1em;
	vertical-align: top;
}

#searchResult {
	padding-top: 10px;
}

.nomPersonnage {
	display:inline;
	font-weight:bold;
}

li.nomJoueur {
	padding-bottom: 10px;
}

#emptyGameError {
	color: red;
	display:none;	
}

