@CHARSET "ISO-8859-1";

.header {
	border: 2px black;
	border-style: dotted;
	display: inline-block;
}

.entete {
	background-color: red;
	width: 100%;
}

.combattant {
	display: inline-block;
	border: 2px black;
	border-style: solid;
}

.opposant {
	color: red;
}

.tour {
	border-color: green;	
}